name: CI/CD Pipeline for Frontend-Client (Next.js)

on:
  pull_request:
    branches:
      - main
    paths:
      - "apps/frontend-client/**"
  push:
    branches:
      - main
    paths:
      - "apps/frontend-client/**"
defaults:
  run:
    working-directory: apps/frontend-client

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: yarn install --no-immutable

      - name: Build the Next.js project
        run: yarn build
        working-directory: apps/frontend-client

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: frontend-build
          path: apps/frontend-client/.next # Adjust this to your actual build output directory

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   if: github.ref == 'refs/heads/main'

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Set up Node.js
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: "20"

  #     - name: Install dependencies
  #       run: yarn install --no-immutable
  #       working-directory: apps/frontend-client

  #     - name: Set Environment Variables
  #       run: |
  #         echo "NEXT_PUBLIC_BASE_URL_AUTH=${{ secrets.NEXT_PUBLIC_BASE_URL_AUTH }}" >> $GITHUB_ENV
          
  #     - name: Configure AWS Credentials
  #       uses: aws-actions/configure-aws-credentials@v4
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: us-east-1

  #     - name: Deploy to AWS with SST
  #       run: npx sst deploy --stage prod
  #       working-directory: apps/frontend-client
        